<div class="page-header">
  <h1>ng-select</h1>
</div>

<section>
  <label> <input type="checkbox" [(ngModel)]="isMultiple" /> Multiple </label>
  <label> <input type="checkbox" [(ngModel)]="isDisabled" /> Disabled </label>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <label>Simple</label>
        <ng-select keyField="key" labelField="name" class="with-radius" placeholder="Select..." [(model)]="selectedResult" [disabled]="isDisabled"
          [source]="data" [multiple]="isMultiple" (itemSelected)="onItemSelected($event)"></ng-select>
      </div>
      <div class="col-xs-6">
        <label>Custom Template</label>
        <ng-select keyField="key" labelField="name" class="with-radius" [(model)]="selectedResult" [disabled]="isDisabled" [source]="data"
          [multiple]="isMultiple" [itemTemplate]="selectItem" [placeholderTemplate]="placeholder" (itemSelected)="onItemSelected($event)"></ng-select>
      </div>
    </div>
  </div>
  <ng-template #placeholder>
    <div style="padding: 4px;">
      <i class="glyphicon glyphicon-console"></i> Define your placeholder here...
    </div>
  </ng-template>
  <ng-template #selectItem let-item="item">
    <div class="clearfix">
      <div class="pull-left">
        <i class="{{item.iconClass}}"></i> {{item.name}}
      </div>
      <div class="pull-right">
        <small>{{item.name}}</small>
      </div>
    </div>
  </ng-template>
  Result: {{selectedResult|json}}
  <hr>

  <div class="panel panel-primary tab-panel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#html" aria-controls="home" role="tab" data-toggle="tab">Html</a>
        <div class="toolbox"></div>
      </li>
      <li role="presentation">
        <a href="#typescript" aria-controls="profile" role="tab" data-toggle="tab">TypeScript</a>
        <div class="toolbox"></div>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="html">
        <pre><code class="code xml" [innerHTML]="codeHtml" highlight-js-content=".highlight"></code></pre>
      </div>
      <div role="tabpanel" class="tab-pane" id="typescript">
        <pre><code class="code typescript" [innerHTML]="codeTypeScript"></code></pre>
      </div>
    </div>
  </div>
</section>